# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Dependencies and build files
node_modules/
dist/